<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- Tasks -->
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="bin/"
            name="ajdt.eclipse.brand"
            class="org.eclipse.ajdt.build.tasks.BrandTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.fetch"
            class="org.eclipse.ajdt.build.tasks.FetchTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.buildScript"
            class="org.eclipse.ajdt.build.tasks.BuildScriptGeneratorTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.generateFeature"
            class="org.eclipse.ajdt.build.tasks.FeatureGeneratorTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.buildManifest"
            class="org.eclipse.ajdt.build.tasks.BuildManifestTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.assembler"
            class="org.eclipse.ajdt.build.tasks.PackagerTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.idReplacer"
            class="org.eclipse.ajdt.build.tasks.IdReplaceTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.jnlpGenerator"
            class="org.eclipse.ajdt.build.tasks.JNLPGeneratorTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.unzipperBuilder"
            class="org.eclipse.ajdt.build.tasks.UnzipperGeneratorTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.fetchFilesGenerator"
            class="org.eclipse.ajdt.build.tasks.FetchFileGeneratorTask">
      </antTask>
      <antTask
            library="bin/"
            name="ajdt.eclipse.versionReplacer"
            class="org.eclipse.ajdt.build.tasks.GenericVersionReplacer">
      </antTask>
      <antTask
            class="org.eclipse.pde.internal.build.jarprocessor.JarProcessorTask"
            headless="true"
            library="bin/"
            name="ajdt.eclipse.jarProcessor">
      </antTask>
      
   </extension>
<!-- Extra Classpath -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="false"
            headless="true"
            library="lib/ajdtbuild-ant.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         id="buildtimesite"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.pde.internal.build.site.BuildTimeSiteFactory">
      </site-factory>
   </extension>
   <extension
         id="BuildTimeFeatureFactory"
         point="org.eclipse.update.core.featureTypes">
      <feature-factory
            class="org.eclipse.pde.internal.build.site.BuildTimeFeatureFactory">
      </feature-factory>
   </extension>
   <extension
         id="Build"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.pde.internal.build.BuildApplication"/>
      </application>
   </extension>

   <extension
         point="org.eclipse.pde.build.fetchFactories">
      <factory
            class="org.eclipse.pde.internal.build.fetch.CVSFetchTaskFactory"
            id="CVS"/>
      <factory
            class="org.eclipse.pde.internal.build.fetch.COPYFetchTasksFactory"
            id="COPY"/>
		<factory
			class="org.eclipse.pde.internal.build.fetch.GETFetchFactory"
			id="GET"/>
   </extension>
   
<!--
    <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="org.eclipse.pde.internal.build.properties.PDEProperties"
            eclipseRuntime="false"
            headless="true"
            name="eclipse.pdebuild.home"/>

      <antProperty
            class="org.eclipse.pde.internal.build.properties.PDEProperties"
            eclipseRuntime="false"
            headless="true"
            name="eclipse.pdebuild.scripts"/>
      <antProperty
            class="org.eclipse.pde.internal.build.properties.PDEProperties"
            eclipseRuntime="false"
            headless="true"
            name="eclipse.pdebuild.templates"/>
   </extension>
            -->                        

</plugin>
