<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="aspectjstructurebridge"
         name="AspectJ Structure Bridge"
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.eclipse.ajdt.mylyn.ui.AspectJStructureBridge"
            name="AspectJ Structure Bridge"
            parentContentType="resource">
      </structureBridge>
   </extension>
   
   	<extension
          id="aspectjuibridge"
          name="AspectJ UI Bridge"
          point="org.eclipse.mylyn.context.ui.bridges">
    	<uiBridge
          class="org.eclipse.ajdt.mylyn.ui.AspectJUIBridge"
          contentType="aspectj"
          activeSearchIcon=""
	      activeSearchLabel="AspectJ Search"/>
   		<labelProvider
          class="org.eclipse.ajdt.mylyn.ui.AspectJLabelProvider"
          contentType="aspectj"/>
     <preservedFilters
           viewId="org.eclipse.jdt.ui.PackageExplorer">
        <filter
              class="org.eclipse.ajdt.internal.ui.lazystart.CompilationUnitFilter"></filter>
     </preservedFilters>
  	</extension>
  	
  	<extension point="org.eclipse.ui.actionSets">
	  <actionSet
            id="org.eclipse.ajdt.mylyn.ui.actionSet"
            label="Mylyn AspectJ"
            visible="false">
  		<action
          class="org.eclipse.ajdt.mylyn.ui.actions.ToggleActiveFoldingAction"
          definitionId="org.eclipse.ajdt.mylyn.ui.editor.folding.auto"
          icon="icons/elcl16/interest-folding.gif"
          id="org.eclipse.ajdt.mylyn.ui.editor.folding.auto"
          label="Focus Editor on Active Task"
          style="toggle"
          toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
          tooltip="Automatically Fold Uninteresting Elements">
      	</action> 
      	<!--
        <action
               definitionId="org.eclipse.mylyn.java.ui.search.context"
               label="Search the current task context"
               class="org.eclipse.mylyn.internal.java.ui.actions.FindReferencesInContextAction"
               id="org.eclipse.mylyn.java.ui.search.context">
         </action>
        -->
    </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            name="Mylyn AspectJ"
            description="Mylyn AspectJ Commands"
            id="org.eclipse.ajdt.mylyn.ui.commands">
      </category>
	  <command
         categoryId="org.eclipse.ajdt.mylyn.ui.commands"
         description="Toggle Active Folding"
         id="org.eclipse.ajdt.mylyn.ui.editor.folding.auto"
         name="Toggle Active Folding">
      </command>
    </extension>
  	   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ajdt.mylyn.ui.actionSet">
         <part id="org.eclipse.ajdt.internal.ui.editor.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions"> 
	  <viewContribution 
		id="org.eclipse.mylyn.ui.resource.navigator.filter" 
   		targetID="org.eclipse.contribution.xref.ui.views.XReferenceView">
    	<action
           class="org.eclipse.ajdt.mylyn.ui.actions.FocusXRefViewAction"
           disabledIcon="icons/elcl16/focus-disabled.gif"
           enablesFor="*"
           icon="icons/elcl16/focus.gif"
           id="org.eclipse.ajdt.mylyn.ui.actions.xRef"
           label="Focus on Active Task"
           menubarPath="mylyn"
           style="toggle"
           toolbarPath="mylyn"
           tooltip="Focus on Active Task (Alt+click to reveal filtered elements)">
        <enablement>
           <systemProperty
                 name="org.eclipse.mylyn.context.core.context.active"
                 value="true">
           </systemProperty>
        </enablement> 
  		</action> 
      </viewContribution> 
   </extension>
   <extension
         point="org.eclipse.mylyn.context.core.internalBridges">
      <shadow
            baseContent="java"
            shadowedByContent="aspectj">
      </shadow>
   </extension>
  	
</plugin>
