<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="Build Configurator Plugin.objectContribution2">
         <menu
               label="%org.eclipse.ajdt.ui.tools"
               id="org.eclipse.ajdt.ui.feature.tools">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%excludeFromBuildConfig"
               class="org.eclipse.ajdt.internal.buildconfig.actions.ExcludeAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group0"
               icon="icons/buildconfig/exclusion_filter_attrib.gif"
               id="exclude">
         </action>
        <visibility>
           <and>
             <objectState name="projectNature" value="org.eclipse.ajdt.ui.ajnature"/>
             <or>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
               <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
             </or>
           </and>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="Build Configurator Plugin.objectContribution1">
         <menu
               label="%org.eclipse.ajdt.ui.tools"
               id="org.eclipse.ajdt.ui.feature.tools">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%includeInActiveBuildConfig"
               class="org.eclipse.ajdt.internal.buildconfig.actions.IncludeAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group0"
               icon="icons/buildconfig/inclusion_filter_attrib.gif"
               id="include">
         </action>
        <visibility>
           <and>
             <objectState name="projectNature" value="org.eclipse.ajdt.ui.ajnature"/>
             <or>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
               <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
             </or>
           </and>
         </visibility>
      </objectContribution>
            <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.lst"
            id="buildfilecontributions">
         <visibility>
            <objectState name="projectNature" value="org.eclipse.ajdt.ui.ajnature"/>
         </visibility>
         <menu
               label="%org.eclipse.ajdt.ui.tools"
               id="org.eclipse.ajdt.ui.feature.tools">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%saveAsAJProperties"
               class="org.eclipse.ajdt.internal.buildconfig.actions.ImportAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group1"
               id="buildselectorpopup">
         </action>
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ajproperties"
            id="ajproperties">
         <visibility>
            <objectState name="projectNature" value="org.eclipse.ajdt.ui.ajnature"/>
         </visibility>
         <menu
               label="%org.eclipse.ajdt.ui.tools"
               id="org.eclipse.ajdt.ui.feature.tools">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%activateConfig"
               class="org.eclipse.ajdt.internal.buildconfig.actions.ActivateAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group0"
               id="ajpropertiespopup">
         </action>
         <action
               label="%saveAsLst"
               class="org.eclipse.ajdt.internal.buildconfig.actions.ExportAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group1"
               id="org.eclipse.ajdt.buildconfigurator.exportAction"/>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="false"
            label="%BuildConfigDecorator.label"
            class="org.eclipse.ajdt.internal.buildconfig.ImageDecorator"
            state="true"
            id="org.eclipse.ajdt.buildconfig.decorator">
         <description>
			%BuildConfigDecorator.description
		 </description>
         <enablement>
            <objectClass
                  name="java.lang.Object">
            </objectClass>
         </enablement>
         <description>
         </description>
      </decorator>
   </extension>
   
   <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            name="%ajPropertiesEditor"
            icon="icons/buildconfig/buildconfig_file.gif"
            extensions="ajproperties"
            contributorClass="org.eclipse.ajdt.internal.buildconfig.editor.BuildEditorContributor"
            class="org.eclipse.ajdt.internal.buildconfig.editor.BuildEditor"
            id="AJPropertiesEditor">
      </editor>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%javaBuildPath"
            class="org.eclipse.ajdt.internal.buildconfig.propertypage.BCPropertyPage"
            id="org.eclipse.ajdt.ui.ConfiguratorPage">
         <filter
               name="projectNature"
               value="org.eclipse.ajdt.ui.ajnature">
         </filter>
      </page>
    </extension>
    -->
    
    <extension point="org.eclipse.ui.newWizards">
      <!-- Define wizard for creating new build configurations -->
      <wizard
            name="%buildConfigFile"
            icon="icons/buildconfig/new_build_config_wizard.gif"
            category="org.eclipse.ajdt.wizards"
            class="org.eclipse.ajdt.internal.buildconfig.wizards.BuildConfigurationFileWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="ajbuildconfigwizard">
         <description>
            %buildConfigDescription
         </description>
      </wizard>       
    </extension>
    
 	<extension point="org.eclipse.ui.startup">
	</extension>

</plugin>
