.class
bin/
tycho-maven-repository/
target/
.buildpath
bin_ajc_task/

# IntelliJ IDEA
.idea/
*.iml
idea-bundles/

# Upstream AspectJ binaries + sources
# TODO: use 'target' subdirectories for unpacking
/org.aspectj.runtime/classes/
/org.aspectj.runtime/source/
/org.aspectj.weaver/classes/
/org.aspectj.weaver/source/
/org.aspectj.ajde/classes/
/org.aspectj.ajde/source/

# Tests + examples JARs
# TODO: use 'target' subdirectories for storage
/org.eclipse.ajdt.examples/ajdtExamples.jar
/org.eclipse.contribution.weaving.jdt.tests/jdtweavingtests.jar
/org.eclipse.contribution.xref.core.tests/xrefcoretests.jar
/org.eclipse.contribution.xref.ui.tests/xrefuitests.jar

# IDEA plugin "Eclipse PDE Partial"
out/
**/OSGI-INF/l10n/bundle.properties

# IDEA exported problem descriptions for refactoring
/*.xml
