<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ajdt.ui.tests"
   name="AJDT Tests Plug-in"
   version="92.2.29"
   provider-name="Eclipse.org"
   class="org.eclipse.ajdt.ui.tests.AspectJTestPlugin">

   <runtime>
      <library name="ajdttest.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ajdt.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.pde.ui"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.pde"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.aspectj.ajde"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.pde.build"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.contribution.visualiser.tests"/>
      <import plugin="org.eclipse.ajdt.core"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.aspectj.runtime"/>
      <import plugin="org.eclipse.contribution.xref.ui.tests"/>
      <import plugin="org.eclipse.contribution.xref.core.tests"/>
      <import plugin="org.eclipse.contribution.xref.ui"/>
      <import plugin="org.eclipse.ltk.core.refactoring"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.contribution.xref.core"/>
   </requires>

</plugin>
