<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.contribution.xref.ui"
   name="%pluginName"
   version="92.2.29"
   provider-name="%providerName"
   class="org.eclipse.contribution.xref.internal.ui.XReferenceUIPlugin">

   <runtime>
      <library name="xrefui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.contribution.xref.core"/>
      <import plugin="org.aspectj.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Cross References"
            icon="icons/XRefIcon.gif"
            category="org.eclipse.ajdt.ui.cat"
            class="org.eclipse.contribution.xref.ui.views.XReferenceView"
            id="org.eclipse.contribution.xref.ui.views.XReferenceView">
      </view>
   </extension>

    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               id="org.eclipse.contribution.xref.ui.views.XReferenceView"
               relationship="bottom"
               ratio="0.6">
         </view>
      </perspectiveExtension>
    </extension>
         
<!-- commenting this out for now.... not contributing a preference page 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%XRefPreferencePage"
            class="org.eclipse.contribution.xref.internal.ui.preference.XReferencePreferencePage"
            id="org.eclipse.contribution.xref.prefspage">
      </page>
   </extension> 
   -->
   
   <!-- Adding action set for inplace XReferenceView -->   
   <extension
       	 point="org.eclipse.ui.actionSets">
   	  <actionSet
            label="%XRefActionSet.label"
            description="%XRefActionSet.description"
            visible="true"
            id="org.eclipse.contribution.xref.ui.XRefActionSet">
         <action
               definitionId="org.eclipse.contribution.xref.show.xref"
               label="Open Cross References"
               class="org.eclipse.contribution.xref.internal.ui.inplace.OpenInplaceXReferenceAction"
               menubarPath="navigate/open.ext2"
               id="openXRef">
         </action>
      </actionSet>
   </extension> 
        
   <!-- Adding key binding for inplace XReferenceView -->             
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ShowXRef.label"
            description="%ShowXRef.description"
            category="org.eclipse.ui.category.navigate"
            id="org.eclipse.contribution.xref.show.xref">
      </command>
      <keyBinding
            string="Ctrl+Alt+X"
            scope="org.eclipse.jdt.ui.javaEditorScope"
            command="org.eclipse.contribution.xref.show.xref"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>    


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="org.eclipse.contribution.xref.ui.views.OpenXRefActionContribution">
         <action
            label="Open Cross References"
            class="org.eclipse.contribution.xref.ui.views.OpenXReferenceViewAction"
            enablesFor="1"
            id="org.eclipse.contribution.xref.ui.views.openXRefView">
         </action>
      </objectContribution>
            <objectContribution
            objectClass="org.eclipse.ui.IEditorPart"
            id="org.eclipse.contribution.xref.ui.views.OpenXRefActionContribution">
         <action
            label="Open Cross References"
            class="org.eclipse.contribution.xref.ui.views.OpenXReferenceViewAction"
            enablesFor="1"
            id="org.eclipse.contribution.xref.ui.views.openXRefView">
         </action>
      </objectContribution>
    </extension>  
</plugin>
