<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            name="%XRefView.label"
            icon="icons/XRefIcon.gif"
            category="org.eclipse.ajdt.ui.cat"
            class="org.eclipse.contribution.xref.ui.views.XReferenceView"
            id="org.eclipse.contribution.xref.ui.views.XReferenceView">
      </view>
   </extension>

    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               id="org.eclipse.contribution.xref.ui.views.XReferenceView"
               relationship="bottom"
               ratio="0.6">
         </view>
      </perspectiveExtension>
    </extension>
         
<!-- commenting this out for now.... not contributing a preference page 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%XRefPreferencePage"
            class="org.eclipse.contribution.xref.internal.ui.preference.XReferencePreferencePage"
            id="org.eclipse.contribution.xref.prefspage">
      </page>
   </extension> 
   -->
   
   <!-- Actions contributed by the XReference plugin to the Java perspective -->
   <extension
       	 point="org.eclipse.ui.actionSets">
   	  <actionSet
            label="%XRefActionSet.label"
            description="%XRefActionSet.description"
            visible="true"
            id="org.eclipse.contribution.xref.ui.XRefActionSet">
         <!-- Action to add Open the quick xref view to the 
              Navigate menu -->   
         <action
               definitionId="org.eclipse.contribution.xref.show.xref"
               label="%QuickXRef.label"
               class="org.eclipse.contribution.xref.internal.ui.inplace.OpenInplaceXReferenceAction"
               menubarPath="navigate/showIn"
               id="openInplaceXRef">
               <enablement>
                  <or>
                    <and>
               		  <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
               			<not>
               			  <or>
               			    <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
               			    <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
               			    <objectClass name="org.eclipse.jdt.core.IPackageFragmentRoot"/>
               			    <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
               			  </or>   
               			</not>
               		</and>	
               		<objectClass name="org.eclipse.jface.text.TextSelection"/>
               	  </or>	
               </enablement>
         </action>
         <!-- Action to add Open the cross references view to the 
              Navigate > Show In menu -->
         <action
               label="%XRefView.label"
               class="org.eclipse.contribution.xref.ui.views.OpenXReferenceViewAction"
               icon="icons/XRefIcon.gif"
               definitionId="org.eclipse.contribution.xref.show.xref.view"
               menubarPath="navigate/showIn/"
               id="openXRefView">
               <enablement>
                  <or>
                    <and>
               		  <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
               			<not>
               			  <or>
               			    <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
               			    <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
               			    <objectClass name="org.eclipse.jdt.core.IPackageFragmentRoot"/>
               			    <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
               			  </or>   
               			</not>
               		</and>	
               		<objectClass name="org.eclipse.jface.text.TextSelection"/>
               	  </or>	
               </enablement>
         </action>   
             
      </actionSet>
   </extension> 

    <!-- Adding key binding for inplace XReferenceView 
        and commands for showing the inplace and regular view -->             
   <extension
         point="org.eclipse.ui.commands">
      <!-- Command for inplace xref view -->   
      <command
            name="%QuickXRef.label"
            description="%ShowXRef.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.contribution.xref.show.xref">
      </command>
      <!-- Command for opening the xref view via the Navigate > Show In menu -->
      <command
            name="%XRefView.label"
            description="%ShowXRef.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.contribution.xref.show.xref.view">
      </command>
	</extension>
	
   <extension point="org.eclipse.ui.bindings">
   <!-- Key binding for the inplace XReference view (Alt+Shift+P)-->
        <key
            sequence="M3+M2+P" 
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            commandId="org.eclipse.contribution.xref.show.xref"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>    

   <!-- Adding "Open Cross References" to the context menu 
        of the outline view. The visibility entries are
        to ensure it doesn't appear in the context menu
        of the package explorer -->             
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution     
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="org.eclipse.contribution.xref.ui.views.OpenXRefActionContribution">
         <visibility>
             <or>
               <and>
           		  <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
            		<not>
            		  <or>
            		    <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            		    <objectClass name="org.eclipse.jdt.core.IJavaProject"/>
            		    <objectClass name="org.eclipse.jdt.core.IPackageFragmentRoot"/>
            		    <objectClass name="org.eclipse.jdt.core.IPackageFragment"/>
            		  </or>   
            		</not>
            	</and>	
            	<objectClass name="org.eclipse.jface.text.TextSelection"/>
            </or>	
         </visibility>
         <action
            label="%OpenXRef.label"
            class="org.eclipse.contribution.xref.ui.views.OpenXReferenceViewAction"
            enablesFor="1"
            id="org.eclipse.contribution.xref.ui.views.openXRefView">
         </action>        
      </objectContribution>    
    </extension>  
    
</plugin>
