<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- Eclipse Help Contents Pages -->
  <extension point="org.eclipse.help.toc">
   <toc file="toc.xml" primary="true" />
   </extension>
   <extension point="org.eclipse.help.toc">
       <toc file="toc_ajprogguide.xml" />
       <toc file="toc_ajdevguide.xml" />   
       <toc file="toc_adk15notebook.xml" />   
       <toc file="toc_ajpdguide.xml" />   
   </extension> 
</plugin>
