<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.aspectj.ajde"
   name="%pluginName"
   version="92.2.29"
   provider-name="%providerName">

   <runtime>

      <library name="ajde.jar">
         <export name="*"/>
         <!-- M4 bug <packages prefixes="org.aspectj"/> -->
      </library>
            
   </runtime>
   <requires>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.osgi"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.aspectj.runtime"/>
   </requires>

<!-- AJDT Help -->
  <extension point="org.eclipse.help.toc">
   <toc file="toc.xml" primary="true" />
   </extension>
   <extension point="org.eclipse.help.toc">
       <toc file="toc_ajprogguide.xml" />
       <toc file="toc_ajdevguide.xml" />   
       <toc file="toc_adk15notebook.xml" />   
   </extension> 
</plugin>
