<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <!-- ASPECTJRT_LIB classpath variable -->
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
     <classpathVariableInitializer variable="ASPECTJRT_LIB"
       class="org.eclipse.ajdt.internal.core.AspectJRTInitializer"/>
   </extension>

	<!-- FIX for 75052 -->
	<extension point="org.eclipse.team.core.fileTypes">
   		<fileTypes extension="ajmap" type="binary"/>
   		<fileTypes extension="aj" type="text"/>
	</extension>

   <!-- Define AspectJ Builder -->
   <extension
         id="ajbuilder"
         name="%aspectJBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.ajdt.core.builder.AJBuilder">
         </run>
      </builder>
   </extension>

   <!-- declares java source as a content type for .aj files -->
   <extension point="org.eclipse.core.runtime.contentTypes">
	  <file-association 
		content-type="org.eclipse.jdt.core.javaSource"
		file-extensions="aj"/>
   </extension>

</plugin>
