<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ajdt.core"
   name="%pluginName"
   version="92.2.29"
   provider-name="Eclipse.org"
   class="org.eclipse.ajdt.core.AspectJPlugin">

   <runtime>
      <library name="ajdtcore.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.pde.build"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.aspectj.ajde"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.team.core" optional="true"/>
      <import plugin="org.aspectj.runtime"/>
   </requires>

   <!-- ASPECTJRT_LIB classpath variable -->
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
     <classpathVariableInitializer variable="ASPECTJRT_LIB"
       class="org.eclipse.ajdt.internal.core.AspectJRTInitializer"/>
   </extension>

	<!-- FIX for 75052 -->
	<extension point="org.eclipse.team.core.fileTypes">
   		<fileTypes extension="ajmap" type="binary"/>
   		<fileTypes extension="aj" type="text"/>
	</extension>

   <!-- Define AspectJ Builder -->
   <extension
         id="ajbuilder"
         name="AspectJ Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.ajdt.core.builder.AJBuilder">
         </run>
      </builder>
   </extension>

</plugin>
