<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ajproperties"
            id="ajproperties">
         <visibility>
            <objectState name="projectNature" value="org.eclipse.ajdt.ui.ajnature"/>
         </visibility>
     	 <menu
               label="%org.eclipse.ajdt.ui.tools"
               id="org.eclipse.ajdt.ui.feature.tools">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
           <separator
                  name="group2">
            </separator>
         </menu>
         <action
               label="%activateConfig"
               class="org.eclipse.ajdt.internal.buildconfig.actions.ApplyBCAction"
               menubarPath="org.eclipse.ajdt.ui.feature.tools/group0"
               id="ajpropertiespopup">
         </action>
      </objectContribution>
 
       <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
             adaptable="true"
            id="ajproperties2">
         <visibility>
         	<objectState name="nature" value="org.eclipse.ajdt.ui.ajnature"/>
         </visibility>
         <menu
            label="%org.eclipse.ajdt.ui.tools"
            id="org.eclipse.ajdt.ui.feature.tools">
	         <separator
	            name="group0">
	         </separator>      
         </menu>  
         <action
             label="%saveConfig"
             class="org.eclipse.ajdt.internal.buildconfig.actions.SaveBCAction"
             menubarPath="org.eclipse.ajdt.ui.feature.tools/group0"
             id="ajpropertiespopup2">
         </action>      
      </objectContribution>
   </extension>
   
 <!--  <extension
         id="editors"
         point="org.eclipse.ui.editors">
      <editor
            name="%ajPropertiesEditor"
            icon="icons/buildconfig/buildconfig_file.gif"
            extensions="ajproperties"
            contributorClass="org.eclipse.ajdt.internal.buildconfig.editor.BuildEditorContributor"
            class="org.eclipse.ajdt.internal.buildconfig.editor.BuildEditor"
            id="AJPropertiesEditor">
      </editor>
   </extension> -->
    
<!-- 	<extension point="org.eclipse.ui.startup">
	</extension>-->

</plugin>
